<!-- Header (name of collection) -->
<h3>My Collections</h3>
<!-- Container (for list of collections) -->
<ul id="collections" class="list-group col-xs-12">
	<li class="collection list-group-item"  ng-repeat="collection in collections">
		<div class="description">
			{{collection.name}}
		</div>
		<div class="btn-group width-100" role="group">
			<a class="btn btn-primary col-xs-6 width-100" ng-href="#collection/{{collection.url | encoded}}">View Episodes</a>
			<a class="btn btn-default col-xs-6 width-100" ng-click="removeCollection(collection.url)">Delete collection</a>
		</div>
	</li>
</ul>
<!-- Show this if nothing found -->
<p ng-show="noResults">
	You don't have any podcasts in your collections. Try searching for one and adding it!
</p>