<!-- Header (name of collection) -->
<h3>{{collectionName}}</h3>
<!-- Container (for list of podcasts) -->
<ul id="podcasts" class="list-group col-xs-12">
	<li class="podcast list-group-item"  ng-repeat="podcast in podcasts">
		<div class="description">
			<span class="glyphicon glyphicon-{{starClass(podcast.favorited)}}" ng-click="favoriteUnfavorite(podcast)" aria-hidden="true"></span> 
			<span class="badge pull-right">{{(podcast.position / podcast.duration) * 100 | percent}}</span>
			<a href="#player/{{podcast.url | encoded}}">{{podcast.name}}</a>
		</div>
		<div class="btn-group width-100" role="group">
			<a class="btn btn-default col-xs-6" ng-click="downloadOrDeleteFile(podcast)">{{getFilePath(podcast) | podcastFilter:'actionText'}}</a>
			<div class="dropdown col-xs-6">
				<a class="btn {{getFilePath(podcast) | podcastFilter:'btnClass'}}" data-toggle="dropdown">{{getFilePath(podcast) | podcastFilter:'playText'}} <span class="caret"></span></a>
				<ul class="dropdown-menu" role="menu">
					<li><a ng-click="addToPlaylist(podcast.url, 'now')">{{getFilePath(podcast) | podcastFilter:'playText'}} Now</a></li>
					<li><a ng-click="addToPlaylist(podcast.url, 'next')">{{getFilePath(podcast) | podcastFilter:'playText'}} Next</a></li>
					<li><a ng-click="addToPlaylist(podcast.url, 'last')">{{getFilePath(podcast) | podcastFilter:'playText'}} Last</a></li>
				</ul>
			</div>
		</div>
		<div class="progress">
			<div class="progress-bar width-100" role="progressbar" style="width: {{getProgressValue(podcast)}}%;">
			</div>
		</div>
	</li>
</ul>